*{

    padding: 0;
    margin: 0;
    font-family: "Nanum Myeongjo", serif;

    box-sizing: border-box;
}
:root{
    --bg-color:#191919;
    /*
    --second-bg-color: #151515;
    --text-color: white;*/
    --main-color: #f9004d;
}
html {
    scroll-behavior: smooth;
}


.hero{
    height: 100vh;
    background-color: var(--bg-color);
    background-size: cover;
    background-position: center;
}
.about{
    min-height: 100vh;
    padding: 10rem 9% 10 rem;
}
.text-animation{
    font-size:34px;
    font-weight: 600;
    min-width: 280px;
    z-index: 3;
}
.text-animation span{
    position:absolute;
}
.text-animation span::before{
    content: 'Software Developer';
    color: var(--main-color);
    animation: words 16s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: 0;
    height:100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 15s steps(30,end) infinite;
}

@keyframes cursor {
    from { border-left-color: transparent; }
    50% { border-left-color: var(--main-color); }
    to { border-left-color: transparent; }
}

@keyframes words {
    0%, 30.5% { content: 'Software Engineer'; } /* Adjusted percentages */
    30.6%, 61.5% { content: 'NWU Student'; } /* Adjusted percentages */
    61.6%, 100% { content: 'Web Developer'; } /* Adjusted percentages */
}

@keyframes typing {
    0%, 30.5%, 61.5%, 100% { width: 0; } /* Adjusted percentages */
    2%, 32.5%, 63.5% { width: calc(100% + 8px); } /* Adjusted percentages */
    30%, 62%, 98% { width: 0; } /* Adjusted percentages */
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f9004d;
    transition: .4s;

}

.content{
    max-width: 700px;
    position: relative;
    
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4{
    color: #f9004d;
    letter-spacing: 2px;
    font-size: 20px;
}

.newsletter{
    width: 150px;
    max-width:30%;
    position: relative;
}
.newsletter:hover{
   
        color: var(--main-color);
        cursor: pointer;
}


.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about img{
    height: auto;
    width:250px;
    position: relative;
    top:1rem;
    right: 1.5rem;
    width:22vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.about img:hover{
    box-shadow: 0 0 50px var(--main-color),
    0 0 100px var(--main-color);;
}

.about-text{
    width: 550px;
}
.social-icons a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover{
    color: white;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color) ;
}

.main{
   
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:  center;
    justify-content:space-around;
}
.about-text h2{
    color: white;
    font-size: 60px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{

    background-color: rgb(0, 183, 255);
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}
button:hover{

    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}

.Projects{
    background-image: url(../images/nissan.jpg);
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center ;
    align-items: center;
    min-height: 400px;
    transition: 0.5s;
    position: relative;
 
}
.card:hover{
    background: #f9004d;
    transform: scale(1.03);

}

.bx:hover{
    color:white;
}

.fas:hover{
    color:white;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align:center ;
    
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color:#f9004d;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
}

.contact-me p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contact-me .button-two{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contact-me .button-two:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%; 
    padding:5px 0;
    height: auto;  
    background: #101010;
    
}
footer .social-icons{
    text-align: center;
    padding-bottom: 0px;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 10px;
    line-height: 1.2rem;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;

}
.footer ul li a:hover{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.footer ul li 
{
    display:inline-block;
    padding: 0 8px;
}

.footer .copyright{
    margin-top:10px;
    text-align: center;
    font-size: 12px;
    color:white;
}


footer p:nth-child(1){
    font-size: 20px;
    color:white;
    margin-bottom: 10px;
    font-weight: bold;
}
footer p:nth-child(2){
    font-size: 12px;
    color:white;
    width: 500px;
    text-align: center;
    line-height: 18px;
    margin: 0 auto;
}
.Git{
    display: flex;
}

.Git a{
    width: 45px;
    height: 45px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.Git a:hover{
    transform: scale(2);
    transition: .3s;
}

.contact{
    background-color: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: white;
}

.contact-section form{
    max-width:7rem;
    margin:1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form{
    max-width: 45rem;
    margin: 0rem auto;
    text-align: center;
    
}
.contact form .input-box{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 0.7rem;
    color:turquoise;
    background:var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid #f9004d ;
    margin: 1rem 0;
    resize: none;
}

.contact form .btn{
    margin-top: 2 rem;
}

.btn{
    background-color: rgb(0, 183, 255);
    text-decoration: none;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

.btn:hover{

    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
}
.skill-section{
    background-color: var(--bg-color);
    
   
}
.skills{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 100%;
    margin: auto auto;
    color: #fff;
    padding: 10px;
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) ;
}

.skill li{
    margin: 20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius:10px ;
    overflow: hidden;
    box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) ;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 16px rgba(0,0,0,0.22) ;

}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236,0,140,1)0%, rgba(252,103,103,1)100%)

}
.html{
    width:90%;
    animation: html 3s;
}
.css{
    width:75%;
    animation: css 3s;
}
.javascript{
    width:45%;
    animation: javascript 3s;
}
.csharp{
    width:82%;
    animation: csharp 3s;
}
.cplus{
    width:70%;
    animation: cplus 3s;
}
.java{
    width:87%;
    animation: java 3s;
}
.SQL{
    width:82%;
    animation: SQL 3s;
}
.python{
    width:80%;
    animation: python 3s;
}
@keyframes html{
    0%{
        width:0%;
    }
    100%{
        width:90%;
    }
}
@keyframes css{
    0%{
        width:0%;
    }
    100%{
        width:75%;
    }
}
@keyframes javascript{
    0%{
        width:0%;
    }
    100%{
        width:45%;
    }
    
}
@keyframes csharp{
    0%{
        width:0%;
    }
    100%{
        width:82%;
    }
    
}
@keyframes cplus{
    0%{
        width:0%;
    }
    100%{
        width:70%;
    }
    
}
@keyframes java{
    0%{
        width:0%;
    }
    100%{
        width:87%;
    }
    
}
@keyframes SQL{
    0%{
        width:0%;
    }
    100%{
        width:82%;
    }
    
}
@keyframes python{
    0%{
        width:0%;
    }
    100%{
        width:80%;
    }
    
}


h4, h1, h3 {
    position: relative; /* Ensure text is above image */
    z-index: 2; /* Text has higher z-index than image */
}
.image-container{
    position: relative;
    bottom: 55%;
    left: 820px;
    width: 500px;
    height:75%;
    transition: left 0.5s ease, width 0.5s ease, height 0.5s ease; /* Smooth transition for the image container */
    z-index: 1;
}

@media (max-width: 768px) {
    .image-container {
        left: 50px; /* Adjust left position */
        width: 300px; /* Adjust width */
        height: 50%; /* Adjust height */
    }
}

@media (max-width: 480px) {
    .image-container {
        left: 10px; /* Further adjust left position */
        width: 200px; /* Further adjust width */
        height: 40%; /* Further adjust height */
    }
}
.profile{
    position: relative;
    left: 100px;
    height: 380px;
    width:350px;
    bottom: 100px;
    border-radius: 50%;

}
.heading{
    
    text-align: center;
}
.image-container{
    position: absolute;
    top: 50%;
    right: 30px;
    width: 500px;
    height:75%;
    background: transparent;
    border: 2px solid red;
    transition: 3s;
}
.image-container:hover{
    background: var(--bg-color);
    opacity: 0.2;
}

@media(max-width:1285px)
{html{
    font-size: 55%;
}}
.services-container{
    padding-bottom: 7re;
    grid-template-columns: repeat(2,1fr);
    margin:0 5rem;
}
@media(max-width:991px)
{
    header{
        padding: 2rem 3%;
    }
    section{
        padding:10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width:895px){
    #menu-icon{
        display:block;
    }
}

/* Responsive styles */
@media (max-width: 768px) {
    .boxes .card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .boxes .card {
        width: calc(100% - 40px);
    }
}
